@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  background-color: white;
  color: black;
}

.active{
  background-color: #B88E2F;
  border-radius: 4px;
  border: none;
  color: white;
}


.back{
  background: url('./assets/hero.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.shopBack{
  background: url('./assets/shopback2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}